@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 11%;
    --foreground: 0 0% 100%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 0 5% 4%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 2% 12%;
    --primary-foreground: 0 0% 100%;
    --secondary: 50 15% 31%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 6% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 5% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 5% 60%;
    --input: 0 6% 80%;
    --ring: 0 0% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth !important;
    scroll-padding-top: 5rem;
  }
  body {
    @apply bg-background text-foreground;
  }
}
